.aside {
    width: 100%;
    background-image: url('../img/aside_icon.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.aside-test {
    display: flex;
}

// .aside-wrap{
//     display: flex;
// }

.aside-thumb{
    width: 576px;
    height: 576px;
}

.aside-inner {
    display: flex;
    
    align-items: center;
}

.aside-title {
    width: 45%;
    
}

.aside-subject {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #E6B939;
}
.aside-caption {
    margin: 0;
    color:#575445;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.asdie-lead {
    color: #575445;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.aside-div {
    width: 50%;
    display: flex;
    align-items: center;

    p{
        color: #575445;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
   
    };
   
}

.aside-icon {
    width: 25px;
    height: 25px;
    margin-left: 35px;
}