// .order-subcontainer {
//     width: 100%;
//     display: flex;
//     margin-top: 71px;
//     align-items: center;
//     text-align: center;
// }
// .order-container {
//     align-items:flex-start;
//     text-align: center;
//     width: 30%;
// }

// .subcontainer {
//     margin-left: auto;
//     width: 100%;
//     align-items:center;
//     display: flex;
//     margin-top: 110px;
//     text-align: center
// }

// .order-slogan {
//     margin: 0;
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 20px;
 
// }
// .order-text {
//     text-align: center;
//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 17px;
// }

.order-subcontainer {
    margin-top: 75px;
    display: flex;
    @media (max-width: $mobile-max) {
        display: block;
        width: 100%;
 
       }
}

.order-slogan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.order-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.order-container {
    width: 50%;
    text-align: center;
    align-items: center;
}

.subcontainer {
    margin-top: 110px;
    display: flex;

    @media (max-width: $mobile-max) {
        display: block;
        width: 100%;
 
       }
}