content {
    width: 100%;
}

.content-title {
    width: 90%;
    margin-left: 80px;
    padding: 20px;

    @media (max-width: $mobile-max) {
        width: 100%;
        margin: auto;
        text-align: center;
       }
}

.content-caption {
    padding: 10 0 10px 0;
    color: #E6B939;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.content-slogan {
    padding: 10px 0 10px 0 ;
    color: #575445;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    @media (max-width: $mobile-max) {
        width: 70%;
        margin: auto;
       }
}

.content-subtext {
    width: 25%;
    color: #575445;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    @media (max-width: $mobile-max) {
        width: 70%;
        margin: auto;
       }
}

.content-avatar {
    display: flex;
}

.content-container {
    display: flex;
    @media (max-width: $mobile-max) {
        width: 100%;
        display: block;
       }
}

.avatar-div {
    width: 70%;
    margin-top: -15px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}

.content-subcontainer {
    margin: 0 auto 0 auto;

}


.subcontainer-text {
    margin: 10px 10px;
    color: #575445;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.content-avatar {
    width: 80%;
    align-items: center;


}

.avatart-subtext {
    display: block;
    padding: 10 0 10px 0;
    color: #E6B939;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.avatar-data {
    margin-top: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.avatar-text {
    margin-left: 10px;
}

.content-img {
    @media (max-width: $mobile-max) {
        width: 90%;
        height: 200px;
       }
}

