.header {
    width: 100%;
    padding: 26px 0;
}

.header-inner {
    @include container;
    display: flex;
    align-items: center;
}

.header-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

