.order {
    width: 100%;
    align-items: center;

    @media (max-width: $mobile-max) {
        margin-top: 15%;
       }
}

.order-holder {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.order-box {
    margin: auto;
    padding: auto;
}
.wrap {
    @include wrap;
    text-align: center;
    @media (max-width: $mobile-max) {
        font-size: 15px;
       }
}

.order-title {
    @include title;
    // display: block;
    margin: auto;
    text-align: center;

    @media (max-width: $mobile-max) {
        font-size: 25px;
       }
    
}

.order-subtitle {
    @include subtitle;
    width: 50%;
    margin:20px auto;
    text-align: center;
}