.page-container {
    display: flex;
    padding: 50px;
}

.Accessories {
    background-image: url('../img/1.2.png');
    width: 379px;
    height: 473px;
    &:hover{
        box-shadow: 0 0 10px rgba(95, 158, 160, .5);
    }
}

.page-active {
    padding-top: 50px;
    width: 379px;
    height: 473px;
    margin:auto;
    border-radius: 15px;
    text-align:center ;
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    

    p{
        color: #575445;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    h2{
        color: #575445;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
    }
    
}



.Apparel {
    background-image: url('../img/2.png');
    &:hover{
        box-shadow: 0 0 10px rgba(0 ,206,209, .5);
    }
   
  
}

.ClimbingGear {
    background-image: url('../img/3.png');
    &:hover{
        box-shadow: 0 0 10px rgba(105, 105, 105,0.5);
    }
}

.Headwear {
    background-image: url('../img/4.png');
    &:hover{
        box-shadow: 0 0 10px rgba(64, 224, 208,0.7);
    }
}

.HikingGear {
    background-image: url('../img/5.png');
    &:hover{
        box-shadow: 0 0 10px rgba(85, 107, 47,0.5);
    }
}

.Jackets {
    background-image: url('../img/6.png');
    align-items: center;
    &:hover{
        box-shadow: 0 0 10px rgba(119, 136, 153,0.5);
    }
}
.page-div {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.page-text {
    display: block;
    text-align: center;
    // width: 50%;
    h3{
        color: #575445;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        margin: 20px 0 10px 0 ;
    }
}

.page-subtext {
    color: #575445;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.page-wrap {
    margin: auto;
    width: 40%;
    text-align: center;
    
}

.page-wrap-text{
    margin: 200px 0 20px 0px;
    color: #E6B939;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

#result {
    display: none;
}
#Apparel {
    display: none;
}
#ClimbingGear {
    display: none;
}
#Headwear {
    display: none;
}
#HikingGear {
    display: none;
}
#Jackets {
    display: none;
}

