.widget {
    width: 100%;
}

.widget-pic {
    background-image: url('../img/widget-pic.png');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;

}

.widget-btn{
    width: 50px;
    height: 50px;
    margin-left: 55px;

    @media (max-width: $mobile-max) {
        width: 40px; height: 40px;
       }

    &:hover{
        background-color: black;
        border-radius: 50px;
    }
}

.click {
    // width: 50%;
    align-items: center;
    display: flex;
    padding: 45px;

    p{
        padding: 50px;
        color: #E6B939;
        margin-left: auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
    }
    
}

.widget-icons {
    width: 100%;
    display: none;
    align-items: flex-end;
    margin: 385px 0 0 0;

    @media (max-width: $mobile-max) {
        margin: 0;
       }
    
}

.widget-text{
    color: #575445;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.widget-div{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    display: flex;

    @media (max-width: $mobile-max) {
        display: block;
        width: 50%;
        height: 100%;
       }

    img{
        margin-left: 15px;
        @media (max-width: $mobile-max) {
            margin-top: 20px;
           }
    }
    p{
        margin-left: 15px;
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        @media (max-width: $mobile-max) {
            margin-bottom: 10px;
           }
    }
    
    }

.widget-shop {
    width: 100%;
    height: 393px;
    background-color: #2F4F4F;
    background-image: url('../img/Combined-Shape.svg');
    text-align: center;

}

.widget-subcontainer {
    width: 30%;
    margin: auto;
    padding-top: 10%;
    @media (max-width: $mobile-max) {
        width: 100%;
       }

    h3{
        color: #E6B939;
        padding:10px 10px ;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;

        @media (max-width: $mobile-max) {
            font-size: 30px;
           }
    }
}

.text-shop {
    color: #fff;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.widget-title {
    color: white;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    @media (max-width: $mobile-max) {
        width: 70%;
        margin: auto;
       }
}

.widget-button {
    button {
        margin-top: 20px;
        background-color: #fff;
        border-radius: 10px;
        border: none;
        width: 111px;
        height: 44px;
    }
}